#content 
{
	overflow: hidden;
}

/** 
  * BACKGROUND PIC
  **/
.job_pic {	
	opacity:0.1;
	filter:alpha(opacity=5);
	}
/** 
  * PAGING 
  **/
#paging {
	position: absolute;
	width: auto;
	margin: 560px 350px;
	z-index: 2;
}
#paging a {	
	box-shadow: 0px 0px 1px grey;
	margin: 5px;
	border-radius: 10px;
	padding: 2px 5px;
}
#paging a.active {
	background: #041747;
}
#error {
	position: absolute;
	text-align: center;
	left: 300px;
}
p.Username {
	position: absolute;
}
/** 
  * INPUT PREPEND 
  **/
.span2 {
	height: 30px !important;
}
/** 
  * NO RESULT 
  **/
#no_result {
	position: absolute;
	width: 200px;
	height: 100px;
	text-align: center;
	z-index: 1;
	margin-left: 300px;
	margin-top: 200px;
}